MLB_STATS_URL=http://127.0.0.1:3002
MLB_STATS_PORT=3002
NINTH_PROJECTION_MONITOR_ENABLED=1
NINTH_PREGAME_REFRESH_SECONDS=60
NINTH_LIVE_REFRESH_SECONDS=10
NINTH_GAME_DISCOVERY_SECONDS=30
NINTH_PREGAME_MONITOR_HOURS=24
THE_ODDS_API_KEY=
ODDS_REGION=us
ODDS_FORMAT=american
